<div class="container">
  <h4 class="text-white mt-4">Bem vindo x</h4>
  <img
    style="border-radius: 50%; width: 100px; height: 100px"
    src="https://www.w3schools.com/howto/img_avatar.png"
    class="mb-4"
  />
  <h4 class="text-white">Procurar campus</h4>

  <div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Campus perto de mim</h5>
            <p class="card-text">
              Procure um campus para saber rotas, mapas e transportes
            </p>
            <a routerLink="/campus" class="btn btn-primary"
              >Mais informações</a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Todos os campus</h5>
            <p class="card-text">
                Procure um campus para saber rotas, mapas e transportes
            </p>
            <a routerLink="/campus" class="btn btn-primary"
              >Mais informações</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-white">Procurar eventos</h4>

  <div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Eventos perto de mim</h5>
            <p class="card-text">
              Encontre um evento neste mês e marque para não se esquecer
            </p>
            <a routerLink="/eventos" class="btn btn-primary"
              >Mais informações</a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Eventos neste mês</h5>
            <p class="card-text">
                Fique por dentro dos eventos que aconteceram neste mês e marque para não se esquecer
            </p>
            <a routerLink="/eventos" class="btn btn-primary"
              >Mais informações</a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Todos os eventos</h5>
            <p class="card-text">
              Veja todos os eventos e marque para receber notificação e não se esquecer
            </p>
            <a routerLink="/eventos" class="btn btn-primary"
              >Mais informações</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
